/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #202020;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Patrick Hand', cursive;
    gap: 2rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f39c12;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* TABLE */
table {
    border-collapse: collapse;
}

#game_table {
    margin-bottom: 1rem;
}

.game-cell {
    border: 2px solid #e6e6e6;
    width: 120px;
    height: 120px;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    background-color: #2c3e50;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #34495e;
}




.score-table {
    margin-bottom: 1rem;
}

.td_list,
.th_list {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: #34495e;
    color: #e6e6e6;
}

.th_list {
    text-decoration: underline;
}

/* Restart Button */
.restart-button {
    background-color: #2980b9;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #3498db;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #f0f0f0;
    color: #202020;
    margin: 16% auto;
    padding: 2rem;
    border: 2px solid #000;
    border-radius: 10px;
    width: 400px;
    max-width: 80%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    

}

.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

.btn {
    background-color: #2980b9;
    color: #fff;
    padding: 1rem 2rem;   
    cursor: pointer;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3498db;
}

.win-color {
    background-color: #27ae60;
    color: #fff;
}

.x {
    color: #e74c3c;

}

.o {
    color: #3498db;

}